.books-sk {
  max-width: 1300px;
  margin: 60px auto;
  padding: 1rem 3%;
  /* background-color: #fff; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.729);
}

.books-sk-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.books-sk h1 {
  font-size: 2.0rem;
  margin-bottom: 50px;
  text-align: center;
  color: #820909;
  text-shadow: 1px 1px 2px rgb(238, 238, 238), 0 0 25px rgb(174, 59, 59), 0 0 5px rgb(116, 2, 2);
  background: rgba(147, 124, 124, 0.883);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.883);
  padding: 1rem;
}

.books-sk h1:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(85, 0, 0, 0.883);
}

.hard-cover-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hard-cover-books li {
  background: #e1c6b3;
  padding: 15px;
  border: 1px solid #ddd;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.883);
  transition: transform 0.2s;
  border-radius: 12px;
}

.hard-cover-books li:hover {
  transform: scale(1.02);
}

.hard-cover-books h2 {
  font-size: 1.5rem;
  color: rgb(66, 27, 27);
  margin-bottom: 10px;
}

.hard-cover-books p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.hard-cover-books img {
  max-width: 100px;
  height: auto;
  margin-top: 1px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 

}

.hard-cover-books li:hover img {
  opacity: 1;
  align-items: center;
  justify-self: center;
  transform: translate(-50%, -50%) scale(1.6);
}

.hard-cover-books a {
  color: #d04949;
  text-decoration: none;
  font-weight: bold;
}

.hard-cover-books a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .books-sk-container {
    flex-direction: column;
    padding: 10px;
  }

  .hard-cover-books {
    grid-template-columns: 1fr;
  }

  .books-sk h1 {
    font-size: 2rem;
  }
}